.table-ichiran {
    border: 1 solid gray;

}

.col-1st {
    width: 100px;

}

.col-2nd {
    width: 200px;
}

.button {
    padding: 5px;
    margin: 5px;
    border: solid 1px gray;
    width: 4ex;
}